body{
  background-image: url(./img/jiraf.png);
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
}

.container{
  width: 100%;
}

/* navbar */
.navbar-bt{
  width: 215px;
  height: 44px;
  border-radius: 22px;
  background:#886239;
  border: none;
  color: white;
}

.navbar-text p{
  color: #FFF;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; 
}

.navbar-link{
  margin: 0px auto;
  gap: 375px;
}

.line{
  width: 1120px;
  height: 1px;
  background: #FFF;
  margin: 0px auto;
  margin-top: 10px;
}

.navbar-links a{
  text-decoration: none;
  color: #FFF; 
}

.navbar-links{
  display: flex;
  justify-content: center;
  gap: 120px;
  margin-top: 27px;
}


.header-text h1{
  color: #1F1E1E;
  font-size: 90px;
  font-weight: 700;
}

.header-text{
  margin: 0px auto;
  margin-top: 100px;
}

.header-p{
  margin-top: 400px;
  font-weight: 700;
  margin-left: -145px;
}
/* navbar end */

/* imgs */
.imgs{
  margin-top: 200px;
}

.box1{
  margin-top: 2px;
  width: 256px;
  height: 160px;
  border: 1px solid #D9D9DE;
}

.box1 p{
  margin-left: 20px;
}

.boxes2{
  margin-left: 64px;
}
/* imgs end */

/* osnovniy */
.osnovniy img{
  width: 100%;
  max-width: 1920px;
}

.osnovniy{
  margin-top: 100px;
}
/* osnovniy end */

/* position */
.narx1{
  background-image: url(./img/Rectangle\ 25.jpg );
  background-repeat: no-repeat;
  width: 256px;
  height: 256px;
}

.narx2{
  background-image: url(./img/Rectangle\ 25.jpg);
  background-repeat: no-repeat;
  width: 256px;
  height: 256px;
}

.narx3{
  background-image: url(./img/Rectangle\ 34.jpg);
  background-repeat: no-repeat;
  width: 544px;
  height: 544px;
}

.narx4{
  background-image: url(./img/Rectangle\ 25.jpg);
  background-repeat: no-repeat;
  width: 256px;
  height: 256px;
}

.narx5{
  background-image: url(./img/Rectangle\ 25.jpg);
  background-repeat: no-repeat;
  width: 256px;
  height: 256px;
}

.narx5 p{
  margin-top: -10px;
}

.row2{
  top: 288px;
  margin-left: 97px;
}

.narx6{
  background-image: url(./img//Rectangle\ 34.jpg);
  background-repeat: no-repeat;
  width: 544px;
  height: 544px;
}

.narx7{
  background-image: url(./img/Rectangle\ 25.jpg);
  background-repeat: no-repeat;
  width: 256px;
  height: 256px;
}

.narx8{
  background-image: url(../img/Rectangle\ 25.jpg);
  background-repeat: no-repeat;
  width: 256px;
  height: 256px;
}

.narx9{
  background-image: url(./img/Rectangle\ 25.jpg);
  background-repeat: no-repeat;
  width: 256px;
  height: 256px;
}

.narx10{
  background-image: url(./img/Rectangle\ 25.jpg);
  background-repeat: no-repeat;
  width: 256px;
  height: 256px;
}
/* position end */

.line{
  width: 1116px;
  height: 1px;
  background: #D9D9DE;
  margin: 0px auto;
  margin-top: 80px;
}

/* fotogalereya */
.fotogalereya{
background-color: #886239;
  width: 100%;
  height: 785px;
  background-repeat: no-repeat;
  background-position: top;
}
/* fotogalereya end */

/* login */
.input1{
  width: 256px;
  height: 44px;
  border: 1px solid #D9D9DE;
  background: #FFF;
}

.input2{
  width: 832px;
  height: 112px;
  border: 1px solid #D9D9DE;
  background:  #FFF;
}
/* login end */

/* footer */
.footer{
  background-image: url(./img/jiraf.png);
  width: 100%;
  height: 351px;
  margin-top: 76px;
  background-repeat: no-repeat;
  background-position: top;
}
/* footer end */